<?xml version="1.0"?>
<model>
  <name>ArUco ID1 Box</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Robot Developer</name>
    <email>developer@example.com</email>
  </author>

  <description>
    Cardboard box with ArUco marker ID 1 on multiple faces
  </description>
</model>
